body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.divisao{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
a {
  color: #00B7FF;
}
.table{
  text-align: center;
}